<div style="display: flex;flex-direction: column">
  <div style="display: flex">
    <h2>{{todo.title}}</h2>
    <button (click)="deleteTodo()">X</button>
  </div>
  <app-add-item-form [addItemCallBack]="createTask.bind(this)"></app-add-item-form>

  <app-tasks *ngFor="let task of getArrayOfTasksForTodo()" [task]="task"></app-tasks>

  <div style="display: flex">
    <button (click)="changeTodoFilter('all')">all</button>
    <button (click)="changeTodoFilter('active')">active</button>
    <button (click)="changeTodoFilter('completed')">completed</button>
  </div>
</div>
